body {
background: #621062;
font-family: Magnific Caos, Diastema, Lobster, Snell Roundhand;
}
h1 {
color: beige;
text-align: center;
}
.projects { 
    display:flex; flex-wrap:wrap; 
} /* condensed to save space */
.project {
width: 20%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}